name: 바로잇 PR Test 파이프라인

on:
  pull_request:
    branches: [ "main", "develop" ]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: JDK 21 설정
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'corretto'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5

    - name: gradlew 실행 권한 부여
      run: chmod +x gradlew

    - name: 테스트 실행
      run: ./gradlew test
